<div class="all-users-edit">
  <div class="users-edit-title">
    <h1 class="text-center font-weight-bold text-success">〜飼主編集〜</h1>
  </div>
  <div class="users-edit-error text-center font-weight-bold">
    <% @user.errors.full_messages.each do |message| %>
      <p><%= message  %></p>
    <% end %>
  </div>

  <div class="users-edit-content text-center font-weight-bold">
    <%= form_tag(user_path(@user.id), {multipart: true}) do %>
      <p class="m-4">-画像-</p>
        <input name="image" type="file">
      <p class="font-weight-bold m-4">-飼主名-</p>
        <input name= "name" value="<%= @user.name %>">
      <p class="font-weight-bold m-4">-メールアドレス-</p>
        <input name="email" value="<%= @user.email %>">
          <div class="users-edit-button text-center m-4">
            <input type="submit" value="登録">
          </div>
    <% end %>
  </div>
</div>
