<div class="all-users-index">
  <h1 class="text-center font-weight-bold p-3 text-success">〜飼主一覧〜</h1>
    <% @users.each do |user| %>
      <div class="content-users-index font-weight-bold">
        <div class="user-photo">
          <%= image_tag "/user_images/#{user.image_name}" %>
        </div>
        <div class="user-name-index">
          飼主：<%= link_to(user.name, user_path(user.id)) %>
        </div>
      </div>
    <% end %>
</div>
