<div class="all-users-new">
  <div class="users-new-title">
    <h1 class="text-center font-weight-bold text-success">〜新規飼主登録画面〜</h1>
  </div>
  <div class="users-new-error text-center font-weight-bold">
    <% @user.errors.full_messages.each do |message| %>
      <p>＊その<%= message %><p>
    <% end %>
  </div>

  <div class="users-new-content text-center font-weight-bold">
    <%= form_tag(users_path) do %>
      <p class="font-weight-bold m-3">-飼主名-</p>
        <input name="name" value="<%= @user.name %>">
      <p class="font-weight-bold m-3">-メールアドレス-</p>
        <input name="email" value="<%= @user.email %>">
          <div class="users-new-button text-center m-4">
            <input type="submit" value="登録">
          </div>
    <% end %>
  </div>
</div>
