<div class="all-users-new">
  <div class="users-new-title">
    <h1 class="text-center font-weight-bold text-success">〜新規飼主登録画面〜</h1>
  </div>
    <div class="users-new-content text-center font-weight-bold">
      <p class="font-weight-bold m-3">-飼主名-</p>
        <input>
      <p class="font-weight-bold m-3">-メールアドレス-</p>
        <input>
          <div class="users-new-button text-center m-4">
            <input type="submit" value="登録">
          </div>
    </div>
</div>
