<div class="about-all">
  <div class="about-top">
  <h1 class="p-5 mb-1 text-center text-success font-weight-bold">〜WANCHATとは〜</h1>
  </div>
    <div class="about-content">
    <p class="p-5 mb-1 text-center font-weight-bold">ご自慢の愛犬を投稿し、犬好きのたくさんの人達と<br>共感を得てコミュニケーションが取れる場となっております。</p>
    <p class="p-5 mb-1 text-center font-weight-bold">癒しの場として使うことも出来ますし、<br>この先にどんな犬を飼おうか迷っている方はこのサイトを使って<br>参考にすることができますので是非ご利用ください</p>
    <p class="p-5 mb-1 text-center">余談ですが、中国語でWANCHATというのはおしゃべりという意味らしいです笑</p>
    </div>
</div>
