<div class="check-all">
  <div class="check-top">
    <h1 class="p-5 mb-1 text-center text-success font-weight-bold">〜なぜワンチャットを作ったのか？〜</h1>
  </div>
    <div class="check-content">
      <p class="p-5 mb-1 text-center font-weight-bold">私自身犬が大好きで他の人の飼っているペットを見て見たいというのと<br>2020年7月10日に18歳の愛犬が他界に行ってしまい、<br>愛犬を失う辛さを知っているので悲しんでぽっかりと心が空いている人たちの<br>励みになるように作成しました。
      <p class="p-5 mb-1 text-center font-weight-bold">その他にも、これから犬を飼いたいけど犬種がわからない<br>飼ってみての感想を聞いてみたい人など<br>いると思ったのでその方々のお役に立てると思いました。</p>
    </div>
</div>
