<div class="top-main">
  <p class="p-1 mb-1 text-center text-success font-weight-bold">心の癒しとコミュニケーション</p>
  <div class="top-message">
    <p class="text-center font-weight-bold">〜世界に一匹のペットを世界に広めよう〜</p>
  </div>
</div>
