<div class="all-posts-edit">
  <div class="content-posts-edit font-weight-bold text-center">
    <h1>〜編集〜</h1>
  </div>
    <%= form_tag(post_path(@post.id), method: :patch) do %>
      <div class="posts-edit-error text-center">
        <% @post.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      </div>
          <div class="posts-edit-textarea text-center">
            <textarea name="content"><%= @post.content %></textarea>
          </div>
            <div class="posts-edit-button text-center">
              <br><input type="submit" value="更新">
            </div>
    <% end %>
  </div>
