<div class="all-posts-index">
  <h1 class="text-center font-weight-bold p-3 text-success">〜投稿一覧〜</h1>
  <% @posts.each do |post|%>
    <div class="content-posts-index font-weight-bold">
      <div class="user-photo">
        <img src="<%= "/user_images/#{post.user.image_name}" %>">
      </div>
      <%= link_to(post.user.name, user_path(post.user.id)) %>
      <%= link_to(post.content, post_path(post.id))%>
    </div>
  <% end %>
</div>
