<div class="all-posts-new">
  <div class="content-posts-new font-weight-bold text-center">
    <h1>〜WANCHATな投稿をしましょう！〜</h1>
    <p>ex）このアイコンは、ミニチュアダックスの○○○ちゃんが餌を食べている写真です。<br>この写真は、ゴールデンレトリバーの○○○君です。大型犬はおすすめなのでぜひ買ってみてください！など...</p>
  </div>
    <%= form_tag(posts_path) do %>
      <div class="posts-new-error text-center font-weight-bold">
        <% @post.errors.full_messages.each do |message| %>
          <p>＊<%= message %></p>
        <% end %>
      </div>

          <div class="posts-new-textarea text-center">
            <textarea name="content"><%= @post.content %></textarea>
          </div>
            <div class="posts-new-button text-center">
              <br><input type="submit" value="ワン！">
            </div>
    <% end %>
</div>
