<div class="all-posts-new">
  <div class="content-posts-new font-weight-bold text-center">
    <h1>〜WANCHATな投稿をしましょう！〜</h1>
  </div>
    <div class="posts-new-textarea text-center">
      <textarea></textarea>
    </div>
      <div class="posts-new-button text-center">
        <br><input type="submit" value="ワン！">
      </div>

</div>
