header {
  background-color: #E6FFE9;
}

.top-main {
  font-size: 60px;
  background-image: url(/sozai_image_111264.png);
  background-size: cover;
  height: 800px;
}

.top-message {
  font-size: 40px;
}

.about-all {
  background-color: #E6FFE9;
  background-size: cover;
}

.about-top {
  font-size: 80px;
}

.about-content {
  font-size: 30px;
}

.check-all {
  background-color: #E6FFE9;
}

.check-top {
  font-size: 80px;
}

.check-content {
  font-size: 30px;
}
